@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto.ttf');
}
:root {
    --map-size: 500px;
    --background-color: #2b2b2b;
    --map-background-color: #3a3a3a;
}
html, body {
    background-color: var(--background-color);

    padding: 0;
    margin: 0;

    height: 100%;
    width: 100%;
}
h1 {
    color: white;
    text-align: center;
    font-family: 'Roboto';
}
p {
    color: white;
    text-align: center;
    font-family: 'Roboto';
}
#map {
    /*background-image: url("bg.gif");*/
    background-color: var(--map-background-color);
    height: var(--map-size);
    width: var(--map-size);

    margin-left: auto;
    margin-right: auto;
}
p#timer-paragraph {
    display: inline-block;
    width: 15em;
}
#loading-bar {
    display: block;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
}
#loading-bar .list-loading-bar {
    text-decoration: none;
    list-style: none;
    display: inline-block;

    padding: 0;
}
#loading-bar .list-loading-bar .element-load-block {
    height: 1em;
    width: 3em;
    background-color: white;

    display: inline-block;
}