:root {
    --map-size: 500px;
    --map-edge-thickness: 2px;
    /*Colours*/
    --map-edge-colour: rebeccapurple;
    --map-node-colour: red;
}
html, body {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
}
#map {
    background-color: green;
    height: var(--map-size);
    width: var(--map-size);
}
.map-node {
    position: relative;
    display: block;
    background-color: var(--map-node-colour);
    border-radius: 100px;
    height: 1em;
    width: 1em;
}
.map-edge {
    position: relative;
    border-width: 2px;
    background-color: var(--map-edge-colour);
    height: var(--map-edge-thickness);
}